.profile__avatar {
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url(../../../images/profile/avatar/unnamed.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: xx-small;
}

.profile__avatar:hover {
  opacity: .2;
  cursor: pointer;
  cursor: url(../../../images/profile/cursor.png) 2 2, pointer;
}

@media screen and (max-width: 350px) {
  .profile__avatar {
    margin-bottom: 14px;
  }
}